@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'select_two.scss';
// @import "~materialize-css/sass/materialize.scss";

$roboto-font-path: "~materialize-css/dist/fonts/roboto/" !default;
//
@import "~materialize-css/sass/components/color-variables";



$primary-color-light: #e6ffff !default;
$primary-color: #b3e5fc !default;
$primary-color-middle: #99c8dd !default;
$primary-color-dark: #82b3c9 !default;
$primary-color-dark-dark: #6997ab !default;

$primary-color-alert: #e29191 !default;

@import "~materialize-css/sass/materialize.scss";

// @import 'materialize';
@import 'table.scss';
@import 'fixed_side_nav';
@import 'notifications';



body {
  background-color: $primary-color;
}

.card {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px !important;
  .card_action_title {
    padding: 5px 24px;
    background-color: $primary-color-dark !important;
  }
  .card-content {
    .card_content_row {
      margin-top: -30px;
      margin-bottom: 2px;
    }
  }
}

.scrollable {
  overflow: scroll;
  width: 100%;
}

.search_box {
  margin-top: 12px;
  .button_search {
    margin-top: 0px;
    @media #{$medium-and-up} {
      margin-top: 25px;
    }
  }
}

input:disabled {
  -webkit-text-fill-color: black;
  -webkit-opacity:1;
}

.btn {
  background-color: $primary-color-dark;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px !important;
}
.btn:hover {
  background-color: $primary-color-middle;
}

.btn_big {
  margin: 12px 0;
  height: auto;
  padding: 20px 24px 20px 24px !important;
  font-size: 22px;
}

.btn_alert {
  background-color: $primary-color-alert;
}
.btn_alert:hover {
  background-color: $primary-color-alert;
}


.action_button_card {
  padding: 0px !important;
  height: 47px;
  line-height: 45px;
  position: relative;
  top: -6px;
  background: $primary-color-dark-dark;
  margin-right: 1px;
  &_first_right {
    margin-right: -24px !important;
    border-radius: 0 3px 0 0;
  }
  .btn_link_to {
    padding: 15px !important;
    margin-right: 0px !important;
    color: white !important;
  }
  input { color: white; }
}

.material-icons {
  color: $primary-color-dark-dark !important;
}

.col.no_border {
  padding: 0px !important;
}

.check_box_remember {
  margin-top: -2px !important;
  span {
    padding-left: 23px !important;
  }
  label {
    font-size: 14px !important;
  }
}

.check_box_forms {
  @media #{$medium-and-up} {
    margin-top: 35px !important;
  }
}


.datepicker-date-display, .timepicker-digital-display {
  background-color: $primary-color-dark-dark;
}

.datepicker-cancel, .datepicker-today, .datepicker-done, .datepicker-done, .datepicker-table td.is-today, .timepicker-close {
  color: $primary-color-dark-dark;
}
.timepicker-canvas line {
  stroke: $primary-color-dark-dark;
}
.timepicker-canvas-bg, .timepicker-canvas-bearing {
 fill: $primary-color-dark-dark;
}

.text_bold {
  font-weight: bold;
}

.title_order_history {
  color: white;
  font-weight: bold;
  background: $primary-color-dark;
  margin-top: 19px;
  margin-left: -24px;
  margin-right: -25px;
  padding-left: 24px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
