<% if user_signed_in? %>
  <ul id="slide-out" class="sidenav">
    <%= link_to(destroy_user_session_path, class: 'btn-floating btn-large darken-1',  method: 'delete') do %>
      <i class="large material-icons">keyboard_tab</i>
    <% end %>
    <%= link_to(edit_user_registration_path, class: 'btn-floating btn-large darken-1') do %>
      <i class="large material-icons">mode_edit</i>
    <% end %>
    <li><div class="divider"></div></li>

    <br><br><br>
    <li><div class="divider"></div></li>
    <% if can? :index, User %>
      <li>
        <%= link_to users_path, id:'users_fixed_nav_bar' do %>
        <i class="material-icons users">account_circle</i>
        <span class='local_text'>Users</span>
        <% end %>
      </li>
      <li><div class="divider"></div></li>
    <% end %>

    <% if can? :index, Profile %>
      <li>
        <%= link_to profiles_path, id:'profiles_fixed_nav_bar' do %>
        <i class="material-icons users">person_add</i>
        <span class='local_text'>Patients</span>
        <% end %>
      </li>
      <li><div class="divider"></div></li>
    <% end %>

  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menu_button">add_circle</i></a>

<% end %>
